/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-white: #ffffff;
  --basic-wite-opacity03: rgba(255, 255, 255. 0.3);
  --basic-gray: #A6A6A6;
  --basic-background-gray: #EEEEEE;
  --basic-background-filter: #F1F1F1;
  --basic-gray-dark: #4D4D4D;
  --basic-gray-contacts: #666666;
  --basic-gray-social: #E1E1E1;
  --basic-gray-discount: #444444;
  --basic-gray-basket: #A6A6A6;
  --basic-gray-pagination: #DBDBDB;
  --basic-gray-popup: #D7DCDE;
  --basic-toggle-gray: #ABABAB;
  --basic-scale-gray: #D7DCDF;
  --basic-red: #FB565A;
  --basic-red-hover: #E74246;
  --basic-red-active: #D7373B;
  --basic-green: #00CA74;
  --basic-green-hover: #00BC6C;
  --basic-green-active: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-hover: #EAB534;
  --basic-yellow-active: #E5A722;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*Global*/

.page__body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

.page__wrapper {
  width: 1440px;
  padding: 0 140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Button*/
.btn {
  width: 200px;
  min-height: 50px;
  display: block;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-red);
  border-radius: 3px;
  border: none;
  padding: 17px 15px 15px;
  transition: background 0.2s ease, color 0.2s ease;
}

.btn:hover {
  background-color: var(--basic-red-hover);
}

.btn:active {
  color: var(--basic-wite-opacity03);
  background-color: var(--basic-red-active);
}

.btn_green {
  background-color: var(--basic-green);
}

.btn_green:hover {
  background-color: var(--basic-green-hover);
}

.btn_green:active {
  background-color: var(--basic-green-active);
}

.btn_yellow {
  background-color: var(--basic-yellow);
}

.btn_yellow:hover {
  background-color: var(--basic-yellow-hover);
}

.btn_yellow:active {
  background-color: var(--basic-yellow-active);
}

.btn_md {
  width: 240px;
}

.btn_full {
  width: 100%;
}

/*Header*/

.page__header {
  background-color: var(--basic-background-gray);
}


.page-header__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 48px;
}

.page-header__logo {
  display: block;
  width: 160px;
  height: 66px;
  border: 1px solid red;
  margin-right: 45px;
}

.main-nav {
  background-color: royalblue;
  width: 437px;
  margin-top: 26px;
}

.main-nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  margin-right: 45px;
}

.main-nav__item:nth-child(4n) {
  margin-right: 0;
}

.main-nav__link {
  display: block;
  color: var(--basic-black);
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-nav__link:hover {
  color: var(--basic-red);
}

.main-nav__link:focus {
  opacity: 0.3;
}

.main-nav__link:active {
  border-bottom: 2px solid var(--basic-red);
}

.page-header__basket {
  display: block;
  color: var(--basic-black);
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 26px;
  margin-left: auto;
}

/*Main*/

.features {
  background-color: var(--basic-background-gray);
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slide {
  display: none;
}

.slide_active {
  display: flex;
}

.slide__text {
  width: 538px;
  flex-shrink: 0;
  padding: 78px 0 80px;
}

.slide__img {
  width: 50%;
}

.slide__title {
  display: block;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  margin-bottom: 25px;
}

.slide__description {
  width: 416px;
  margin: 0;
  margin-bottom: 38px;
}

/*Services*/

.services {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--basic-background-gray);
}

.services__item {
  display: flex;
}

.services__list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-row-gap: 15px;
  grid-column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.offer__img {
  width: 300px;
  height: 146px;
  background-color: saddlebrown;
  margin-bottom: 25px;
}

.offer__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0 0 16px 0;
}

.offer__description {
  display: block;
  width: 300px;
  margin: 0px;
  margin: 0 0 32px 0;
  color: var(--basic-extra-dark);
}

.offer__btn {
  display: block;
  margin-top: auto;
}

/*Info*/

.info {
  border-bottom: 2px solid var(--basic-background-gray);
}

.info__left {
  padding: 73px 0 73px;
}

.info__skills {
  display: block;
}

.info__title {
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.info__description {
  display: block;
  padding: 32px 0 121px 0;
}

.info__subtitle {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 23px;

}

.info__skills-item {
  padding-top: 23px;
}

.info__right {
  width: 360px;
  padding: 39px 0 73px;
}

.subtitle_position {
  text-align: center;
}

.info__tr {
  text-align: left;
}

.info__td {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.td__percent_superscript {
  font-size: 26px;
  line-height: 40px;
}

.info__th {
  line-height: 18px;
  font-weight: 400;

}

/*Partners*/

.partners__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0px;
  height: 184px;
  border-bottom: 2px solid var(--basic-background-gray);
}

.partners__item {
  display: block;
  border-right: solid var(--basic-background-gray);
  height: 52px;
  vertical-align: center;
  margin: 64px 0;
  padding: 0;

}

.partners__link {
  display: block;
  opacity: 0.2;
  text-align: center;
  height: auto;
  padding: 0px;
  padding-right: 45px;
  padding-left: 45px;
  margin: 0;
}

.partners__item:nth-child(4n) {
  border-right: none;
}

.partners__link:hover {
  opacity: 1;
}

.partners__link:active {
  opacity: 0.1;
}

/*Contacts*/

.page-footer {
  margin: 0;
  padding: 0;
}

.contacts {
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
  border: 1px solid red;
  margin: 0;
}

.contacts__title {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 49px 0 23px 50px;
}

.contacts__adress {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gray-contacts);
  padding: 0 23px 23px 50px;
}

.contacts__phone {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gray-contacts);
}

.contacts__btn {
  display: block;
  width: 219px;
  margin: 37px 50px 47px 50px;
}

.map-and-contacts__map {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.social {
  width: 260px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 68px;
  margin-bottom: 68px;
}

.social__item {
  margin-right: 9px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-gray-social);
  width: 80px;
  height: 80px;
  border: 1px solid var(--basic-gray-social);
  border-radius: 50%;
  transition: background 0.2s ease;
}

.social__link:hover {
  background-color: var(--basic-red-hover);
}

.social__link:active {
  background-color: var(--basic-red-active);
  fill: solid;
  opacity: 0.3;
}

.social__link:hover path {
  fill: blue;
}

.social__link:active path{
  fill: burlywood;
}


.profitably {
  margin-top: 74px;
  margin-bottom: 74px;
}

.profitably__title {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
}

.profitably__description {
  margin: 0;
  padding: 0;
  margin-top: 11px;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-gray-discount);
}


/*Catalog*/

.page__title {
  margin: 0;
  padding-top: 87px;
  padding-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-background-gray);
}

/*Filter*/

.filter-form {
  width: 260px;
  margin-top: 55px;
}

.filter-form__block {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form__title {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 54px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: var(--basic-black);
  text-transform: uppercase;
}

.price-controls {
  line-height: 22px;
  text-transform: uppercase;
}


.range-filter {
  width: 260px;
  margin-top: 48px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-background-filter);
  border-radius: 5px;
}

.scale {
  height: 2px;
  background: var(--basic-scale-gray);
}

.scale__bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-control__toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: var(--basic-toggle-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle_min {
  left: 18px;
}

.toggle_max {
  left: 160px;
}

.range-filter__price-controls {
  display: flex;
  justify-content: space-between;
}

.price {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}


.option__label {
  line-height: 20px;
}

.filter-form__list {
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}

.filter-form__btn {
  color: var(--basic-black);
}

.btn_gray {
  margin-top: 48px;
  background-color: var(--basic-background-gray);
}

.sort {
  padding-top: 55px;
}

.sort__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.sort__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.sort__link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 0.3;
}

.sort__item {
  margin-right: 25px;
}

.sort__item:nth-child(3n) {
  margin-right: 0;
}



.sort__link:hover {
  opacity: 0.6;
}

.sort__link:active {
  opacity: 1;
}

.sort__additional-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.sort__additional-link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 0.3;
}

.sort__additional-link_up {
  opacity: 0.2;
}

.sort__down {
  opacity: 0.2;
  padding-right: 18px;
}

.sort__additional-link_up:hover {
  opacity: 0.6;
}

.sort__additional-link_up:active {
  opacity: 1;
}

.sort__additional-link_down:hover {
  opacity: 0.6;
}

.sort__additional-link_down:active {
  opacity: 1;
}

/*Card*/

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 48px;
  color: var(--basic-gray-contacts)
}

.catalog__item {
  padding: 0;
  margin: 32px 42px 0px 0px;
  width: 360px;
  height: auto;
}

.card__img {
  display: block;
  border-radius: 15px;
}

.card__info {
  display: none;
  padding: 0;
  width: 360px;
  height: 231px;
  text-align: center;
}

.card__title {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.card__description {
  display: block;
  width: 255px;
  margin: 0 53px 0 52px;
  padding: 0;
}

.card__btn {
  display: block;
  margin: 32px 80px 44px;
}

/*Pagination*/

.catalog__pagination {
  list-style: none;
}

.pagination__link {
  color: var(--basic-black);
  background-color: var(--basic-background-gray);
}

.pagination__link_active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-gray-pagination);
}


.pagination__link_big {

}
/*Popup*/

.popup {
  display: none;
  position: fixed;
  width: 960px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  margin: 0;
  padding: 63px 100px 84px;
  border: 1px solid black;
}

.popup_show {
  display: block;
}

.popup__close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50px;
  right: 50px;
}

.popup__form {
  margin-bottom: 47px;
}

.popup__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 15px;
  margin-bottom:  34px;
}

.popup__title {
  display: block;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
  margin-bottom: 37px;
}

.popup__field-label {
  display: block;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  font-weight: 700;
  margin-bottom: 9px;
}

.popup__field-input {
  width: 100%;
  height: 50px;
  margin: 0;
  border: 2px solid var(--basic-gray-popup);
  border-radius: 3px;
  padding: 16px 16px 16px 14px;
}

.popup__textarea {
  margin: 0;
  padding: 16px 414px 84px 14px;
  width: 100%;
  height: 118px;
  border: 2px solid var(--basic-gray-popup);
}

.popup__btn {
  width: 259px;
  margin: 0;
}

